@charset "utf-8";
/* CSS Document */
body {
	background-color:#000000;
}

#header_container {
	z-index:2;
	position:relative;
}
.header_content {
	background-color:rgba(255, 255, 255, .8);	
	z-index:2;
	position:relative;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	
}
.header_logo {
	border:none;	
	max-height:14em;
	
	
}
.header_search {
	
		
}
.mls_search {
	margin-top:1em;
	margin-right:1em;
	background-image:none;
	background-color:rgba(1, 1, 1, .5) !important;
	
	
}
.mls_search :hover {
	background-image:none;
	background-color:rgba(1, 1, 1, 1) !important;
	
}
.header_links {
	margin-top:1em;
	padding:.4em;
	margin-right:.5em;
	color:rgba(1, 1, 1, 1);
	vertical-align:bottom;
}
.header_links:visited {
	color:rgba(1, 1, 1, 1);		
}
.header_links:hover {
	color:#FFFFFF;
	background-color:rgba(1, 1, 1, .5);
	text-decoration:none;
}
.thumbnail {
	border-color:rgba(1, 1, 1, .5) !important;
	box-shadow:rgba(1, 1, 1, .5) !important;
}
.thumbnail :selected {
	border-color:#030 !important;
	box-shadow:#030 !important;	
}
.spacer1 {
    height:1em;    
}
.spacer20 {
	height:20em;	
}
.spacer25 {
	height:25em;	
}
.spacer30 {
	height:30em;	
}
#nav_row {
	margin-top:1em;	
}
#nav_container {
	z-index:2;
	position:relative;       
}
.fluid_spacer {
	z-index:1;
	background:none;
}
.main_content {
	background-color:rgba(255, 255, 255, .8);
	border-radius:10px;
	color:#000000;
	opacity:none;
	padding:2em;
	
	z-index:2;
	position:relative;
	display:none;
}
.v_menu {
	z-index:2;
	position:relative;
	display:none;
	
}
.v_menu_item{
	z-index:inherit;
	margin-bottom:12px;
	border-radius:10px;
}
.v_menu_item_li{
	z-index:inherit;
	list-style:none;
		
}
.v_col2 {
	margin-left:120px;	
}
.v_col_top {
	margin-top:-334px;
}
.nav_item {
    border-radius:10px;
}
#body_container {
	margin-top:1em;
	margin-left:2em;
}
#footer_container {
	background-color:rgba(1, 1, 1, .5);	
	z-index:2;
	position:relative;
	/*height:1.5em;*/
	width:80%;
	margin-top:1em;
}
.copyright {
	font-size:.8em;	
	text-align:center;
	color:#FFFFFF;
}
#copyright {
	color:#CCC;
}
/*about page*/
.static-content {
    background-color:rgba(255, 255, 255, .8);
    border-radius:10px;
    color:#000000;
    opacity:none;
    padding:2em;
    
    z-index:2;
    position:relative;
}
.static-content-main-nav {
    z-index:2;
    position:relative;
}
.static-nav_item {
    z-index:2;
    position:relative;
    border-radius:10px;
}
