@charset "utf-8";
/* CSS Document */

/*load image css*/
img#bg {
	/* Stretch background */
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:0;
}

#bg_grid {
	position:fixed; /* This is very important! */
	top:0;
	left:0;
	height:100%;
	width:100%;
	background: url(../img/grida.png) repeat;
		
	/* Display on top of background */
	z-index:1;
}	body, html {
	margin:0;
	padding:0;
	font-family:arial;
}

#page_overlay {
	width:100%;
	z-index:2;
}